@model LocationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LocationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreadedBy" class="control-label"></label>
                <input asp-for="CreadedBy" class="form-control" />
                <span asp-validation-for="CreadedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table id="tblRoomBeds" class="table table-bordered table-striped"></table>
                <input asp-for="TownshipsJoson" type="hidden" id="TownshipsJoson" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        let jdata_grid = null;

        document.addEventListener("DOMContentLoaded", function () {

            let _townships = JSON.parse(document.querySelector("#TownshipsJoson").value);

            jdata_grid = new jdatagrid(
                {
                    table_name: '#tblRoomBeds',
                    item_list: [
                        { name: 'Township', input_type: 'text', header_text: 'Township Name', is_require: true, require_message: 'Require Township Name.', attributes: [{ name: 'class', value: 'form-control' }] }
                    ],
                    is_pagination: true,
                    page_size: 3,
                    target_controlId: 'TownshipsJoson',
                    data : _townships
                }
            );
            //end jdatagrid

        });
    </script>
}
