@model RoomViewModel
@using System.Text.Json;
@using WebMvcUI.Areas.Admin.Models;
@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="card">
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">

            <div class="mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label asp-for="HotelId" class="control-label"></label>
                        <select asp-for="HotelId" class="form-control" asp-items="ViewBag.HotelId"></select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label asp-for="RoomTypeId" class="control-label"></label>
                        <select asp-for="RoomTypeId" class="form-control" asp-items="ViewBag.RoomTypeId"></select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label asp-for="NumberOfRooms" class="control-label"></label>
                        <input asp-for="NumberOfRooms" class="form-control" />
                        <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label asp-for="Rate" class="control-label"></label>
                        <input asp-for="Rate" class="form-control" />
                        <span asp-validation-for="Rate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label asp-for="FileRoomPhotos" class="control-label"></label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input asp-for="FileRoomPhotos" id="FileRoomPhotos" type="file" multiple class="custom-file-input" />
                                <label class="custom-file-label" for="FileRoomPhotos">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="FileRoomPhotos" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div id="card_rooms_images" style="display:none;" class="card">
                        <div class="card-header"> <i class="fas fa-images"></i> Room Images</div>
                        <div class="card-body">
                            <div id="images_preview" class="mb-3 d-flex justify-content-start flex-wrap"> </div>
                        </div>
                        <div class="card-footer">
                            <button id="btnRemoveImages" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-bed"></i> Add the Beds
                        </div>
                        <div class="card-body">
                            <input id="bedtypes" type="hidden" value="@ViewData["BedTypes"]" />
                            <table id="tblRoomBeds" class="table table-bordered table-striped"></table>
                            <input asp-for="RoomBedsJsonString" type="hidden" id="RoomBedsJsonString" />
                            <span asp-validation-for="RoomBedsJsonString" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-wifi"></i> Select the Room Facilities
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                @for (var i = 0; i < Model.RoomFacilities.Count; i++)
                                {
                                    <div class="icheck-secondary d-inline mr-2">
                                        <input type="checkbox" asp-for="RoomFacilities[i].Selected" />
                                        <label asp-for="RoomFacilities[i].Selected"> @Model.RoomFacilities[i].Text</label>
                                        <input type="hidden" asp-for="@Model.RoomFacilities[i].Value" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group mb-3 d-flex">
                        <input type="submit" value="Create" class="btn btn-secondary mr-2" />
                        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let jdata_grid = null;

        $(function () {
            let card_hotel_images = document.querySelector('#card_rooms_images');
            var btnRemoveImages = document.querySelector("#btnRemoveImages");
            var output = document.querySelector("#images_preview");
            var filesInput = document.querySelector("#FileRoomPhotos");

            let _bedtypes = JSON.parse(document.querySelector("#bedtypes").value);

            jdata_grid = new jdatagrid(
                {
                    table_name: '#tblRoomBeds',
                    item_list: [
                        { name: 'BedTypes', input_type: 'select', header_text: 'BedType', is_require: true, require_message: 'Please Entry BedType.', attributes: [{ name: 'class', value: 'form-control' }], data: _bedtypes },
                        { name: 'NumberOfBeds', input_type: 'number', header_text: 'Number of Beds', is_require: true, require_message: 'Require Number of Beds.', attributes: [{ name: 'class', value: 'form-control' }] }
                    ],
                    is_pagination: true,
                    page_size: 3,
                    target_controlId: 'RoomBedsJsonString'
                }
            );
            //end jdatagrid

            btnRemoveImages.addEventListener("click", function (event) {
                event.preventDefault();
                filesInput.value = "";
                output.innerHTML = "";
                card_hotel_images.style.display = "none";
            });

            //Check File API support
            if (window.File && window.FileList && window.FileReader) {

                filesInput.addEventListener("change", function (event) {

                    var files = event.target.files; //FileList object
                    console.log('files', files.length);
                    output.innerHTML = "";

                    card_hotel_images.style.display = "block";

                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];

                        //Only pics
                        if (!file.type.match('image'))
                            continue;

                        var picReader = new FileReader();

                        picReader.addEventListener("load", function (event) {

                            var picFile = event.target;

                            var div = document.createElement("div");

                            div.innerHTML = "<img width='200' height='120' class='m-2 border border-2 rounded shadow' src='" + picFile.result + "'" + "title='" + picFile.name + "'/>";

                            output.insertBefore(div, null);

                        });

                        //Read the image
                        picReader.readAsDataURL(file);
                    }

                });
            }
            else {
                console.log("Your browser does not support File API");
            }
        });

    </script>
}
